<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta name="robots" content="index, follow">
    <meta charset="utf-8" lang="ar-eg">
    <meta http-equiv="content-language" content="ar-eg">

    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/js/bootstrap.rtl.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/Content/assets/css/StyleSheet.css" rel="stylesheet" />
    <title>
        إصدارات الدار
    </title>
   
</head>
<body style=" background-color: #fff;">
    <!-- Nav Bar starts-->

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#17A0DB;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">الرئيسية <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">فضيلة المفتي</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">الفتاوى</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">المركز الإعلامي</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">خدمات الدار</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">طلب فتوى</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">إستعلام عن فتوى</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        الإصدارات
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">كتب وموسوعات</a>
                        <a class="dropdown-item" href="/Home/Book">مجلة الدار</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">منهج فتوى</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="إبحث هنا " aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">بحث  </button>
                <i class="fa fas-search"></i>
            </form>
        </div>
    </nav>
    <!-- Nav Bar End-->
    <!--  section logo starts -->
    <div class="container" id="LogSection">
        <div class="row ">
            <div class="col-sm-12 col-md-3 headerlogo">
                <h1>
                    <a class="" href="/ar" aria-label="Bootstrap" id="logo1" title="موقع  دار الإفتاء المصرية">
                        <img src="~/Content/assets/Images/logoo.png" class="img-responsive img-fluid" id="Logoicon" alt="موقع  دار الإفتاء المصرية">
                    </a>
                </h1>
            </div>
            <div class="col-sm-12 col-md-9 headDateSection">

                <div class="row d-none d-sm-block">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <li>
                                <div class="row align-middle">
                                    <label class="lblDate">
                                        الأحد ٢٨  مايو ٢٠٢٣ م - &#xFEFF;٨ ذي القعدة ١٤٤٤ هـ
                                    </label>
                                </div>
                            </li>

                            <li>
                                <a target="_blank" href="https://apps.apple.com/us/app/dar-alafta/id1119538483?ls=1" title="تطبيق دار الإفتاء المصرية" alt="تطبيق دار الإفتاء المصرية">
                                    <div class="AppStore"> </div>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dareleftaa" title="تطبيق دار الإفتاء المصرية" alt=" تطبيق دار الإفتاء المصرية">
                                    <div class="googleplay"> </div>
                                </a>
                            </li>



                        </ul>
                    </div>
                </div>



                <div class="row d-block d-sm-none">
                    <div class="col-md-12">
                        <div class="row align-middle text-center">
                            <label class="lblDate">
                                الأحد ٢٨  مايو ٢٠٢٣ م - &#xFEFF;٨ ذي القعدة ١٤٤٤ هـ
                            </label>
                        </div>
                    </div>
                </div>

                <div class="d-block d-sm-none row">
                    <div class="col-xs-6" style="padding: 0 1rem!important;max-width:50%!important">
                        <a target="_blank" href="https://apps.apple.com/us/app/dar-alafta/id1119538483?ls=1" title="تطبيق دار الإفتاء المصرية" alt="تطبيق دار الإفتاء المصرية">
                            <img src="~/Content/assets/Images/apple.png" style="max-width:90%!important">
                        </a>
                    </div>

                    <div class="col-xs-6" style="padding: 0 1rem!important;max-width:50%!important">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dareleftaa" title="تطبيق دار الإفتاء المصرية" alt=" تطبيق دار الإفتاء المصرية">
                            <img src="~/Content/assets/Images/google.png" style="max-width:90%!important">
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--  section logo ends -->
    @RenderBody()
    <!--Footer-->
    <div class="container-fluid footer">
        <div class="row fotterpattern">
        </div>
        <div class="row">
            <div class="fotersection">
                <div class="container">
                    <div class="row footersection1" style="border-bottom:1px solid #93B6CA;padding-bottom:35px!important;">
                        <div class="col-md-4" style="text-align: center">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="/ar" title="موقع_دار_الإفتاء_المصرية" style="padding-left: 40px;">
                                        <img src="~/Content/assets/Images/dar.png" class="img-responsive img-fluid" width="266" height="52" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="py-1 mb-2">
                                        <p class="nav d-flex justify-content-center">
                                            <a class="p-2 text-primary-color text-decoration-none" target="_blank" href="https://facebook.com/EgyptDarAlIfta"><i class="fab fa-2x fa-facebook"></i></a>
                                            <a class="p-2 text-primary-color text-decoration-none" target="_blank" href="https://twitter.com/EgyptDarAlIfta"><i class="fab fa-2x fa-twitter"></i></a>
                                            <a class="p-2 text-primary-color text-decoration-none" target="_blank" href="https://www.instagram.com/EgyptDarAlIfta"><i class="fab fa-2x fa-instagram"></i></a>
                                            <a class="p-2 text-primary-color text-decoration-none" target="_blank" href="https://www.youtube.com/egyptdaralifta"><i class="fab fa-2x fa-youtube"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 footersection2">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">

                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                طلب فتوى
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                استعلام عن فتوى
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                منهج الفتوى
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#" title="هذا ديننا">
                                                الفتوى الهاتفية

                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                الفتوى الإلكترونية
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                الفتوى الشفوية
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                الفتوى المكتوبة
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                فض المنازعات
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                الحساب الشرعي
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#" title="هذا ديننا">
                                                المركز الإعلامي
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                التدريب والتأهيل
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="https://ifta-learning.net/?التعليم-عن-بعد" target="_blank">
                                                التعليم عن بعد
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#" title="هذا ديننا">
                                                هذا ديننا
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                موقيت الصلاة
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row details bulit">
                                        <div class="col-md-10 item">
                                            <a href="#">
                                                التاريخ الهجري
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 text-right contactus">
                                    <div class="row head" style="font-size:20px;">اتصل بنا</div>
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <i class="fas fa-map-marker-alt fa mb-2" style="padding-left: 5px;"></i>
                                            <a href="#" style="text-align:center">
                                                حديقة الخالدين - الدراسة - القاهرة
                                                ص.ب 11675
                                            </a>
                                        </li>
                                        <li>
                                            <i class="fas fa-phone mt-4 fa mb-2" style="padding-left: 5px;"></i>
                                            <a href="tel:20225970400">202-25970400</a>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope mt-4 fa mb-2" style="padding-left: 5px;"></i>
                                            <a href="mailto:info@dar-alifta.org">info@dar-alifta.org</a>
                                        </li>
                                        <li>
                                            <div class="row details bulit">
                                                <div class="col-md-10 item">
                                                    <a href="#">
                                                        فروع الدار
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center" style="padding-top:45px !important;vertical-align:middle;font-size:18px;font-weight:600;">
                    <p>
                        <i class="fa fa-copyright" aria-hidden="true"></i>
                        جميع الحقوق محفوظة ل <a class="darfoterlink" title="دار الإفتاء المصرية" href="https://www.dar-alifta.org/ar">
                            دار الإفتاء المصرية
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/JavaScript.js"></script>

</body>
</html>
