
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6  banner " style="padding:0px!important;">
        <div class="row text-center bannersection">
            <div class="col-md-12 text-center" style="margin:5% 0!important">
                <div class="text text-center ">
                    <h1>مجلة دار الإفتاء </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 imgbanner">
        <img src="~/Content/assets/Images/banner/Slider_FatwaHead.jpg" style="padding:0px!important;width:100%; height:100%">
    </div>

</div>

<div class="content">
    <div class="container release">
        <div class="row">
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
            <!-- cart_book starts -->
            <div class="col-xl-3 col-lg-4  col-md-6  col-sm-12 " style="padding:15px 15px!important">
                <div class="row text-center">
                    <div class="col-md-12">
                        <a href="/Home/Index_Book">
                            <img class="img-responsive img-thumbnail" src="~/Content/assets/Images/Releases/28.jpg">
                        </a>
                    </div>

                </div>
                <div class="text-center p-4">

                    <small>1440 <span> هـ </span> -  2019 <span>م</span> </small>
                    <h5 class="mb-0">كتاب الصيام</h5>
                </div>
            </div>
            <!-- cart_book Ends -->
        </div>
    </div>
</div>