
@{
    ViewBag.Title = "Index_Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6  banner " style="padding:0px!important;">
        <div class="row text-center bannersection">
            <div class="col-md-12 text-center" style="margin:5% 0!important">
                <div class="text text-center ">
                    <h1>مجلة دار الإفتاء </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 imgbanner">
        <img src="~/Content/assets/Images/banner/Slider_FatwaHead.jpg" style="padding:0px!important;width:100%; height:100%">
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container viewarticle" style="padding:45px 0!important;padding-left:35px!important; display:block">

                <div class="row">
                    <div class="col-md-12" style="padding:15px 15px!important;">
                        <span class="sitemap"><a href="/ar/">الرئيسية</a> &gt;<h1>إصدارات الدار </h1></span>
                    </div>
                </div>


                <!-- hh -->
                <div class="col-md-8">
                    <h1 style="color:#4d4a4a">الاحكام المتعلقة بالرياضة </h1>
                </div>

                <div class="col-md-2  border-bottom border-2 border-primary" id="border">
                </div>
                <!-- hh -->

                <div class="col-md-12 details">
                    <img class="img-responsive" src="~/Content/assets/Images/Releases/28.jpg" alt="فتاوى النوازل لتقديم معالجة شرعية وإفتائية للمستجدات التي تتعلق بوباء كورونا" title="فتاوى النوازل لتقديم معالجة شرعية وإفتائية للمستجدات التي تتعلق بوباء كورونا" width="300" height="400" align="right" style="padding-left:15px;padding-bottom:15px;padding-top:15px;">
                    <article>في ظل ما تعانيه معظم بلاد العالم من اجتياح فيروس كورونا المستجد عانيه معظم بلاد العالم من اجتياح فيروس كورونا المستجد (COVID-19) وما ترتب عليه من آثار ونتائج، وما فرضته قواعد المجابهة العالمية للقضاء عليه من إجراءات ووسائل غيَّرت تغييرًا جذريًّا طرق التعامل البشري في كافة مناحي الحياة وأنماطها وربوعها، برز جليًّا في هذا المضمار دَوْرُ دُور الفتوى الإسلامية، وفي طليعتها دار الإفتاء المصرية، في مواجهة هذا الوباء المُستشري والهجمة المَرَضيَّة؛ فلم تألُ الدار جهدًا في إصدار عشرات الفتاوى الفقهية؛ توصيفًا لأداء العبادات على الوجه الذي يقي خطر استشراء البلاء وبلواه، وتأصيلًا لمشروعية اتخاذ الإجراءات التي تحد من انتشاره وتقلل من عدواه، وتفصيلًا لكيفية التعامل مع مرضاه، وتوضيحًا لطرق دفن موتاه، متناولةً جُلَّ الجوانب التي يمكن أن تتأثر بهذا الوباء؛ بدءًا من الموقف العقدي، إلى الجانب الروحي، إلى الأداء الشعائري، إلى التناول الفقهي، إلى السلوك الأخلاقي، إلى الحِراك الاجتماعي، إلى التفاعل الوطني، إلى الالتزام القانوني، إلى غير ذلك مما يحيط به من أحوالٍ وظروفٍ فردية ومجتمعيَّة ووطنية ودولية، ليكون ذلك دليلَ صدقٍ على مرونة الإسلام واستيعابه لكل التغيرات الحياتية، وشاهدَ عدلٍ على قدرته على مواكبة المستجدات والمتغيرات التي تمر بها البشرية، وبرهانَ حقٍّ على صلاحية الأحكام الشرعية للتطبيق في كل الظروف المعيشية، وتحت كل الأحوال البيئية؛ فإن الإسلام (COVID-19) وما ترتب عليه من آثار ونتائج، وما فرضته قواعد المجابهة العالمية للقضاء عليه من إجراءات ووسائل غيَّرت تغييرًا جذريًّا طرق التعامل البشري في كافة مناحي الحياة وأنماطها وربوعها، برز جليًّا في هذا المضمار دَوْرُ دُور الفتوى الإسلامية، وفي طليعتها دار الإفتاء المصرية، في مواجهة هذا الوباء المُستشري والهجمة المَرَضيَّة؛ فلم تألُ الدار جهدًا في إصدار عشرات الفتاوى الفقهية؛ توصيفًا لأداء العبادات على الوجه الذي يقي خطر استشراء البلاء وبلواه، وتأصيلًا لمشروعية اتخاذ الإجراءات التي تحد من انتشاره وتقلل من عدواه، وتفصيلًا لكيفية التعامل مع مرضاه، وتوضيحًا لطرق دفن موتاه، متناولةً جُلَّ الجوانب التي يمكن أن تتأثر بهذا الوباء؛ بدءًا من الموقف العقدي، إلى الجانب الروحي، إلى الأداء الشعائري، إلى التناول الفقهي، إلى السلوك الأخلاقي، إلى الحِراك الاجتماعي، إلى التفاعل الوطني، إلى الالتزام القانوني، إلى غير ذلك مما يحيط به من أحوالٍ وظروفٍ فردية ومجتمعيَّة ووطنية ودولية، ليكون ذلك دليلَ صدقٍ على مرونة الإسلام واستيعابه لكل التغيرات الحياتية، وشاهدَ عدلٍ على قدرته على مواكبة المستجدات والمتغيرات التي تمر بها البشرية، وبرهانَ حقٍّ على صلاحية الأحكام الشرعية للتطبيق في كل الظروف المعيشية، وتحت كل الأحوال البيئية؛ فإن الإسلام هو كلمة الله الأخيرة إلى العالمين، ولذلك كان صالحًا لكل الأسقف المعرفية، ومتسقًا مع كل الحقائق العلمية، ومستوعبًا لمختلف الأزمنة والأمكنة والأحوال والأشخاص.</article>
                    <article>&nbsp;</article>
                </div>
                <a href="#" class="btn btn-primary;" style="background-color: #17A0DB; color: #fff">تصفح الكتاب</a>



            </div>

        </div>
        <div class="col-md-4">
            <div class="container fatwaSection" style="padding:35px 0!important">

                <div class="row" style="padding-bottom:35px!important">

                    <div class="col-md-4 col-sm-12 text-center">

                        <a href="#" title="طلب_فتوى_fatwa_request">
                            <img src="~/Content/assets/Images/ask.png">
                        </a>
                        <span class="servicestext">
                            <a href="#" alt="طلب_فتوى_fatwa_request" title="طلب_فتوى_fatwa_request">طلب فتوى</a>
                        </span>

                    </div>

                    <div class="col-md-4 col-sm-12 text-center">
                        <a href="#" alt="طلب_فتوى_fatwa_request" title="طلب_فتوى_fatwa_request">
                            <img src="~/Content/assets/Images/req.png">
                        </a>
                        <span class="servicestext">
                            <a href="#" alt="طلب_فتوى_fatwa_request" title="طلب_فتوى_fatwa_request">
                                استعلام عن فتوى
                            </a>
                        </span>
                    </div>

                    <div class="col-md-4 col-sm-12 text-center">
                        <a href="#" alt="الفتوى_الهاتفية" title="الفتوى_الهاتفية">
                            <img src="~/Content/assets/images/Phone.png">
                        </a>
                        <span class="servicestext">

                            <a href="#" alt="الفتوى_الهاتفية" title="الفتوى_الهاتفية">
                                الفتوى الهاتفية
                            </a>
                        </span>
                    </div>

                </div>

                <div class="row fatwaclass" style="padding-right:1rem!important;">
                    <div class="col-md-6">
                        <a href="#" class="btn form-control">عقائد</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn  form-control ">مجتمع وأسرة </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn  form-control ">أداب وأخلاق </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn form-control ">مستجدات ونوازل</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn  form-control">فتاوى حديثية  </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn  form-control">عبادات   </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn  form-control">معاملات مالية  </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn  form-control">جنايات وأقضية   </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn  form-control">شئون عادات   </a>
                    </div>


                    <div class="col-md-6 text-center">
                        <div class="input-container">
                            <a class="btn" href="#" style="text-align:center!important;vertical-align:middle!important;width:90%!important">
                                <i class="fa fa-search"></i>
                                <label class="input-field">
                                    بحث بالفتاوى
                                </label>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="row" style="padding:55px 0!important;padding-left:0px!important;padding-right:0px!important">
                    <div class="col-md-12 col-sm-12 taqweemcontainer" style="background-image: url('/Content/assets/Images/mawaket.jpg'); background-size: cover; ">

                        <div class="row" style=" margin:auto!important;height:100%!important">
                            <div class="container text-center" style="margin:auto;color:#fff">
                                <div class="row" style="margin:auto!important;padding:35px 0!important;">
                                    <div class="col-md-12 text-center">
                                        <h3 style="color:white;padding-bottom:15px;font-size:4.5rem!important;">مواقيت الصلاة</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">

                                            <div class="col-md-11">
                                                <select class="form-select CityList" id="CityList" name="CityList"><option value="">الكل</option><option value="رشيد الجديدة">رشيد الجديدة</option><option value="رفح الجديدة">رفح الجديدة</option><option value="الطـــور">الطـــور</option><option value="موط (الداخلة )">موط (الداخلة )</option><option value="نجع حمادى">نجع حمادى</option><option value="الحمام">الحمام</option><option value="السـويس">السـويس</option><option value="بورسعيـد">بورسعيـد</option><option value="أسيــوط">أسيــوط</option><option value="واحة سيوة">واحة سيوة</option><option value="مطـروح">مطـروح</option><option value="الضبعة">الضبعة</option><option value="ديارب نجم">ديارب نجم</option><option value="النوبارية الجديدة">النوبارية الجديدة</option><option value="قـــنا">قـــنا</option><option value="بلطيم">بلطيم</option><option value="الخارجـة">الخارجـة</option><option value="الأسكندرية">الأسكندرية</option><option value="باريس">باريس</option><option value="الغردقـة">الغردقـة</option><option value="شلاتين">شلاتين</option><option value="المنـيـا">المنـيـا</option><option value="6أكتـوبر">6أكتـوبر</option><option value="الفرافرة">الفرافرة</option><option value="توشكى">توشكى</option><option value="الحامول">الحامول</option><option value="سفاجة">سفاجة</option><option value="الفـيــوم">الفـيــوم</option><option value="شرم الشيخ">شرم الشيخ</option><option value="كاترين">كاترين</option><option value="دمياط">دمياط</option><option value="الزقـازيق">الزقـازيق</option><option value="توشكى الجديدة">توشكى الجديدة</option><option value="مدينة 15 مايو">مدينة 15 مايو</option><option value="الصالحية الجديدة">الصالحية الجديدة</option><option value="حدائق العاصمة">حدائق العاصمة</option><option value="القصير">القصير</option><option value="راس غارب">راس غارب</option><option value="منوف">منوف</option><option value="اسنا">اسنا</option><option value="البويطى">البويطى</option><option value="دهب">دهب</option><option value="دمنـهـور">دمنـهـور</option><option value="العلمين">العلمين</option><option value="العاصمة الادارية الجديدة">العاصمة الادارية الجديدة</option><option value="بنى سويف">بنى سويف</option><option value="طابا">طابا</option><option value="حلايــب">حلايــب</option><option value="الدلنجات">الدلنجات</option><option value="القـاهـرة">القـاهـرة</option><option value="بورسعيد الجديدة سلام">بورسعيد الجديدة سلام</option><option value="العريـش">العريـش</option><option value="نويـبع">نويـبع</option><option value="المحلة الكبرى">المحلة الكبرى</option><option value="ابوزنيمة">ابوزنيمة</option><option value="كفر الشيخ">كفر الشيخ</option><option value="بنى مزار الجديدة">بنى مزار الجديدة</option><option value="ادفو">ادفو</option><option value="السادات">السادات</option><option value="سـوهاج">سـوهاج</option><option value="المنصورة الجديدة">المنصورة الجديدة</option><option value="راس سدر">راس سدر</option><option value="القاهرة الجديدة">القاهرة الجديدة</option><option value="سيدى برانى">سيدى برانى</option><option value="الأقصر">الأقصر</option><option value="السـلوم">السـلوم</option><option value="المنصورة">المنصورة</option><option value="مرسى علم">مرسى علم</option><option value="الإسماعيلية">الإسماعيلية</option><option value="غرب النوبارية">غرب النوبارية</option><option value="بدر">بدر</option><option value="أســوان">أســوان</option><option value="بئر العبد الجديدة">بئر العبد الجديدة</option><option value="العبور">العبور</option><option value="برنيس">برنيس</option><option value="العاشر من رمضان">العاشر من رمضان</option><option value="الفشن الجديدة">الفشن الجديدة</option><option value="شرق العوينات">شرق العوينات</option><option value="طنطــا">طنطــا</option><option value="سفنكس الجديدة">سفنكس الجديدة</option></select>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                        <div class="row" style="padding-top:25px!important">
                                            <div class="col-md-2 col-sm-1 text-center " style="padding:0px!important">
                                                <span class="col-md-12 col-sm-6">الفـجــر</span>
                                                <span class="col-md-12 col-sm-6 " style="padding:0px!important">
                                                    <label class="Fager">4:16</label>
                                                </span>
                                            </div>
                                            <div class="col-md-2 col-sm-1 text-center" style="padding:0px!important">
                                                <span class="col-md-12 col-sm-6">الشروق</span>
                                                <span class="col-md-12 col-sm-6 " style="padding:0px!important"><label class="Shorouq">5:58</label></span>
                                            </div>
                                            <div class="col-md-2 text-center" style="padding:0px!important">
                                                <span class="col-md-12 col-sm-6">الظهر</span>
                                                <span class="col-md-12 col-sm-6 " style="padding:0px!important">
                                                    <label class="Zohor">12:52 </label>
                                                </span>
                                            </div>
                                            <div class="col-md-2 col-sm-1 text-center" style="padding:0px!important">

                                                <span class="col-md-12 col-sm-6">العصر</span>
                                                <span class="col-md-12 col-sm-6 " style="padding:0px!important"><label class="Asr">4:28</label></span>
                                            </div>
                                            <div class="col-md-2 col-sm-1 text-center" style="padding:0px!important">

                                                <span class="col-md-12 col-sm-6">المغرب</span>
                                                <span class="col-md-12 col-sm-6 " style="padding:0px!important"><label class="Maghrab">7:46</label></span>
                                            </div>
                                            <div class="col-md-2 col-sm-1 text-center" style="padding:0px!important">

                                                <span class="col-md-12 col-sm-6">العشاء</span>
                                                <span class="col-md-12 col-sm-6 " style="padding:0px!important"><label class="Eshaa">9:16 </label></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding:55px 0!important;padding-left:0px!important;padding-right:0px!important">
                    <div class="col-md-12 col-sm-12 taqweemcontainer">

                        <img src="~/Content/assets/Images/main-shawal.jpg" class="rounded float-left" alt="..." width="400vw" height="300vw">
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

