
@{
    ViewBag.Title = "magazine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6  banner " style="padding:0px!important;">
        <div class="row text-center bannersection">
            <div class="col-md-12 text-center" style="margin:5% 0!important">
                <div class="text text-center ">
                    <h1>مجلة دار الإفتاء </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 imgbanner">
        <img src="~/Content/assets/Images/banner/Slider_FatwaHead.jpg" style="padding:0px!important;width:100%; height:100%">
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding:15px 15px!important;">
            <span class="sitemap"><a href="#">الرئيسية</a> &gt;<h1>مجلة دار الإفتاء المصرية  </h1> &gt; <h1>العدد الاول </h1></span>
        </div>
    </div>

    <div class="row custom">
        <style>
             .custom{
                height:20%;
                margin:auto 0;
            }
            .drop {
                width: 40em;
                margin: 5em auto;
                color: #86919a;
                text-transform: uppercase;
                position: relative;
                transition: width 0.5s;
                will-change: width;
                color: #000;
            }

                .drop option {
                    padding: 1em;
                    cursor: pointer;
                    background-color: #485761;
                }
        </style>


       
            <select class="drop form-select ">
                <option>اختر العدد </option>
                <option>   العدد الأول </option>
            </select>
        
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="image"><img src="~/Content/assets/Images/Book.png.jpg"></div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="job_section">
                <style>
                    .jobs_text {
                        color: #000;
                    }
                </style>
                <h3 class="jobs_text">ضوابط التقدم بالبحوث للمجلة </h3>
                <div class="line">

                </div>
                <style>
                    .lifont {
                        color: #808080;
                        flex: none;
                        margin: 2px;
                    }
                </style>
                <ul class="list-group ">
                    <li class="lifont">التزام المنهج العلمى المتبعث فى كتابة البحوث </li>
                    <li class="lifont">العناية بتعميق المادة العلمية وتوثيقها فى ذيل الصحيفة </li>
                    <li class="lifont"> نوع وتعدد المراجع والمصادر الأصيلة والحديثة مع العناية بترتيب بيانات النشر كالتالي: اسم الكتاب الصفحة اسم املؤلفة دار النشر مكان النشر، زمان النشر</li>
                    <li class="lifont">جدة الموضوع والإبلاغ فيه</li>
                    <li class="lifont"> لا يقل عدد صفر من البحث عن ٢٥ صفحة، ولا يزيد على ٥٠ صفحة.</li>
                    <li class="lifont">CD قبل التحكيم ، ونسخة مطبوعة مع CD يقدم البحث مطبوعا من ثلاث نسخ بالحاسب الآلي من نسخة بعد التعديل من المحكمين إن كان</li>
                    <li class="lifont">أن يكون الباحث عضو هيئة تدريس بإحدى الجامعات المصرية أو العربية أو الأجنبية في التخصصات الفقهية والأصولية ويجوز تلفي بحوث المميزين في التخصصات الفقهية والأصولية من غير أعضاء هيئة التدريس.</li>
                    <li class="lifont">أن يكون البحث جديدا ويقر صاحبه بعدم سبق نشره ولا استقلاله من رسالة الماجستير والدكتوراة أو مذكرات دراسية أو كتب أو محلات أو صحف أو سبق تحويله في شيكه الأبارنت .</li>
                    <li class="lifont">
                        أن يكون موضوع البحث مهما في الحصصم ومنتصفا بالواقع المعيش، وقد اتبع فيه الباحث المنهج

                        الحرة على العمالة

                        العلمي السليم من حيث التبويب والتوثيق وسلامة اللغة وأن يكون مشتملا على ملخص لا يزيد عن لصحيفة باللغة العربية ومترجمة باللغة الإيطالية وقائمة المراجع وفهرس الموضوعات
                    </li>
                </ul>
                <a href="/Home/search" class="btn btn-primary" style="color: #fff; background-color:#17A0DB;border-radius:30px; ">تقدم بحث </a>
            </div>

        </div>

    </div>
    <div class="row ">
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <div class="index" style="border-left:solid 2px #808080">
                <h4>الهيئة الإستشارية</h4>
                <div class="line"></div>
                <label></label>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <div class="index">
                <h4>هيئة التحرير</h4>
                <div class="line"></div>
                <label></label>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
                <div class="row">
                    <h5>أ.د / على جمعه محمد عبدالوهاب</h5>
                    <h6>عضو هيئة كبار العلماء بالأزهر الشريف</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <img src="~/Content/assets/Images/Releases/28.jpg">
        </div>
    </div>
</div>
