
@{
    ViewBag.Title = "Number_Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6  banner " style="padding:0px!important;">
        <div class="row text-center bannersection">
            <div class="col-md-12 text-center" style="margin:5% 0!important">
                <div class="text text-center ">
                    <h1>مجلة دار الإفتاء </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 imgbanner">
        <img src="~/Content/assets/Images/banner/Slider_FatwaHead.jpg" style="padding:0px!important;width:100%; height:100%">
    </div>

</div>


<div class="container viewarticle" style="padding:45px 0!important;padding-left:35px!important">
    <div class="row">
        <div class="col-md-12" style="padding:15px 15px!important;">
            <span class="sitemap"><a href="#">الرئيسية</a> &gt;<h1>مجلة دار الإفتاء المصرية  </h1> &gt; <h1>العدد الاول </h1></span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 " style="background-image: url('/Content/assets/images/mofti2.jpg'); background-size: cover; min-height: 400px;">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-6 ">
                <div class="content">
                    <h2>إفتتاحية العدد </h2>
                    <div class="col-md-2   border-bottom border-2 border-primary" id="border" style="max-width:100px">
                    </div>
                    <h3>أ.د / شوقى علام </h3>
                    <h6>مفتى جمهورية مصر العربية</h6>
                    <article>
                        ستقبل فضيلة الأستاذ الدكتور شوقي علام، مفتي الجمهورية، رئيس الأمانة العامة لدُور وهيئات الإفتاء في العالم، صباح اليوم الإثنين، السيد خيرات لاما سفير جمهورية كازاخستان في القاهرة.

                        وخلال اللقاء قدم السيد خيرات لاما، دعوة لفضيلة المفتي لافتتاح مسجد الظاهر بيبرس، في الرابع من يونيو القادم، وذلك بعد الانتهاء من أعمال ترميمه.

                        ومن المقرر أن يحضر الاحتفال عدد من كبار الشخصيات العامة ورجال الدولة والوزراء والسياسيين والتنفيذيين، إضافة إلى حضور مفتي كازاخستان ورئيس البرلمان الكازاخستاني أيضًا، كما سيتم تكريم فضيلة المفتي خلال الاحتفال المقرر إقامته، إلى جانب تكريم عدد من الشخصيات التي أسهمت في ترميم المسجد ولها دور خيري كبير وبارز.<span id="dots">...</span><span id="more">
                            ومن جانبه أكد فضيلة مفتي الجمهورية على عمق ومتانة العلاقات بين جمهورية مصر العربية والجمهورية الكازاخستانية، مشيرًا إلى أن مفتي كازاخستان عضو في الأمانة العامة لدُور وهيئات الإفتاء في العالم، وهو الأمر الذي يفتح أمام البلدين المزيد من آفاق التعاون وتبادل الرؤى والخبرات على الصعيد الديني والإفتائي.

                            كما تطرَّق فضيلة المفتي إلى الدَّور الذى تقوم به دار الإفتاء المصرية، والأمانة العامة لدُور وهيئات الإفتاء في العالم، فيما يخصُّ تدريب الأئمة والطلاب والوافدين، من مختلف دول العالم الإسلامي، مشيًرا إلى أننا في حاجة إلى الاستفادة من قدرات الشباب في البناء والعمران وتحصينهم من الأفكار الهدامة، مؤكدًا أن المسئولية أصبحت كبيرة في هذا الشأن، والتحدي بات كبيرًا، خاصة مع وجود وسائل التكنولوجيا الحديثة واستغلال الجماعات المتطرفة لها بشكل واسع.
                        </span>
                    </article>
                    <button onclick="myFunction()" id="myBtn" class="btn btn-primary">إقرء المزيد</button>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="bg-white rounded text-center py-5 px-3 ">
                    <img src="~/Content/assets/Images/mofti2.jpg" class="img-responsive" style="max-width:100%; ">
                    <h4 class="text-uppercase text-black;" style="padding-top:1rem;">ستقبل فضيلة الأستاذ الدكتور شوقي علام مفتي الجمهورية</h4>
                    <h5 class="text-uppercase text-primary ; mb-0">د / إبراهيم نجم </h5>
                    <h6 class="text-uppercase ; mb-0" style="color:#808080;font-size:16PX;">مستشار مفتى الجمهورية</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="bg-white rounded text-center py-5 px-3 ">
                    <img src="~/Content/assets/Images/mofti2.jpg" class="img-responsive" style="max-width:100%; ">
                    <h4 class="text-uppercase text-black;" style="padding-top:1rem;">ستقبل فضيلة الأستاذ الدكتور شوقي علام مفتي الجمهورية</h4>
                    <h5 class="text-uppercase text-primary ; mb-0">د / إبراهيم نجم </h5>
                    <h6 class="text-uppercase ; mb-0" style="color:#808080;font-size:16PX;">مستشار مفتى الجمهورية</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="bg-white rounded text-center py-5 px-3 ">
                    <img src="~/Content/assets/Images/mofti2.jpg" class="img-responsive" style="max-width:100%; ">
                    <h4 class="text-uppercase text-black;" style="padding-top:1rem;">ستقبل فضيلة الأستاذ الدكتور شوقي علام مفتي الجمهورية</h4>
                    <h5 class="text-uppercase text-primary ; mb-0">د / إبراهيم نجم </h5>
                    <h6 class="text-uppercase ; mb-0" style="color:#808080;font-size:16PX;">مستشار مفتى الجمهورية</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="bg-white rounded text-center py-5 px-3 ">
                    <img src="~/Content/assets/Images/mofti2.jpg" class="img-responsive" style="max-width:100%; ">
                    <h4 class="text-uppercase text-black;" style="padding-top:1rem;">ستقبل فضيلة الأستاذ الدكتور شوقي علام مفتي الجمهورية</h4>
                    <h5 class="text-uppercase text-primary ; mb-0">د / إبراهيم نجم </h5>
                    <h6 class="text-uppercase  ; mb-0" style="color:#808080;font-size:16PX;">مستشار مفتى الجمهورية</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="bg-white rounded text-center py-5 px-3 ">
                    <img src="~/Content/assets/Images/mofti2.jpg" class="img-responsive" style="max-width:100%; ">
                    <h4 class="text-uppercase text-black;" style="padding-top:1rem;">ستقبل فضيلة الأستاذ الدكتور شوقي علام مفتي الجمهورية</h4>
                    <h5 class="text-uppercase text-primary ; mb-0">د / إبراهيم نجم </h5>
                    <h6 class="text-uppercase ; mb-0" style="color:#808080;font-size:16PX;">مستشار مفتى الجمهورية</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="bg-white rounded text-center py-5 px-3 ">
                    <img src="~/Content/assets/Images/mofti2.jpg" class="img-responsive" style="max-width:100%; ">
                    <h4 class="text-uppercase text-black;" style="padding-top:1rem;">ستقبل فضيلة الأستاذ الدكتور شوقي علام مفتي الجمهورية</h4>
                    <h5 class="text-uppercase text-primary ; mb-0">د / إبراهيم نجم </h5>
                    <h6 class="text-uppercase  ; mb-0" style="color:#808080;font-size:16PX;">مستشار مفتى الجمهورية</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="bg-white rounded text-center py-5 px-3 ">
                    <img src="~/Content/assets/Images/mofti2.jpg" class="img-responsive" style="max-width:100%; ">
                    <h4 class="text-uppercase text-black;" style="padding-top:1rem;">ستقبل فضيلة الأستاذ الدكتور شوقي علام مفتي الجمهورية</h4>
                    <h5 class="text-uppercase text-primary ; mb-0">د / إبراهيم نجم </h5>
                    <h6 class="text-uppercase  ; mb-0" style="color:#808080;font-size:16PX;">مستشار مفتى الجمهورية</h6>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "إقرء لبمزيد";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "إقرء أقل";
            moreText.style.display = "inline";
        }
    }
</script>